body, div
{
	margin: 0px;
	padding: 0px;
}
.main-container
{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
}
.app-header
{
	width: 100%;
    z-index: 60;
    background-color: purple;
    display: inline-block;
    height: 40px;
    min-height: 40px;
    color: white;
    vertical-align: middle;
    text-align: left;
}
.app-sidebar
{
	background-color: purple;
	color: white;
	width: 200px;
	display: none;
}
.app-container
{
	width: 100%;
    z-index: 60;
    background-color: gray;
    display: inline-block;
    height: 700px;
}